<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_home") }}">Natan</a>
    </div>
    <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path("app_works") }}">Works</a>
                <a class="nav-link active" aria-current="page" href="{{ path("app_about") }}">About</a>
            </div>
        </div>
    </div>
</nav>